* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
a {
  color: #fdf0d5;
}

html {
  height: 100vh;
  width: 100vw;
  background-image: url("/Lovepik_com-380390978-autumn-light-effect-leaf-border-golden-plant-autumn-plants-cool.png");
  background-size: cover;
  display: flex;
  justify-content: center;
}

body {
  width: 1020px;
  padding: 1rem;
}
